@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap";
/*# sourceMappingURL=productpage.css.map */
/*# sourceMappingURL=productpage.css.map */
body {
	font-family: 'Nunito Sans', sans-serif;
	overflow-y: hidden;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	background-color: #e7e7e7;
}
.outside {
	display: flex;
	height: 100vh;
}
.sidebar {
	flex: 1;
	flex-basis: 17%;
	z-index: 4;
	min-width: 170px;
	text-decoration: none;
	background-color: white;
	box-shadow: 2px 2px 10px grey;
	header {
		font-size: 1.7rem;
		color: black;
		text-align: center;
		line-height: 2.5rem;
		background-color: #000D18;
		user-select: none;
		img {
			max-width: 100px;
			background-color: #000D18;
			max-height: 100px;
			margin-top: 5%;
		}
		h5 {
			font-weight: normal;
		}
		button {
			padding: 5px;
			border-radius: 10px;
			background-color: lightgrey;
			margin-bottom: 7%;
			&:hover {
				box-shadow: 1px 1px 5px grey;
				cursor: pointer;
			}
			&:active {
				box-shadow: 1px 1px 5px grey;
				cursor: pointer;
				background-color: white;
			}
		}
	}
	ul {
		a {
			display: block;
			height: 100%;
			width: 100%;
			line-height: 3rem;
			font-size: 1rem;
			color: black;
			padding-left: 2rem;
			text-decoration: none;
			background-color: white;
			box-sizing: border-box;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			border-left: 3px solid transparent;
		}
	}
}
ul {
	li {
		&:hover {
			a {
				background-color: #E6F8FF;
				padding-left: 2.2rem;
				border-left-color: #0080FE;
			}
		}
	}
}
.details-master {
	flex-basis: 83%;
	display: flex;
	z-index: 0;
	flex-direction: column;
	overflow-y: scroll;
	#backbutton {
		background-color: white;
		max-width: 100px;
		font-size: 1rem;
		cursor: pointer;
		border: 1px solid lightgray;
		color: #008DF8;
		border-radius: 4px;
		margin-left: 2%;
		margin-top: 2%;
		padding: 0.7%;
		&:hover {
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
		}
	}
}
.topbar {
	display: block;
	min-height: 3rem;
	background-color: white;
	z-index: 1;
	box-shadow: 2px 2px 5px grey;
	img {
		float: right;
		margin-top: 0.5rem;
		padding-right: 0rem;
		background-color: white;
		max-height: 2rem;
	}
	select {
		float: right;
		background-color: transparent;
		max-width: 1.5rem;
		margin-top: 1rem;
		margin-right: 0.5rem;
		option {
			&:nth-child(2) {
				cursor: pointer;
				padding: 1rem;
			}
		}
	}
}
.products {
	margin-top: 2%;
	margin-left: 2%;
	border: 1px solid lightgray;
	margin-right: 2%;
	display: flex;
	flex-direction: row;
	background-color: white;
	* {
		background-color: white;
	}
}
.product-img-div {
	flex-basis: 30%;
	display: flex;
	flex-direction: column;
	padding-right: 5%;
	h4 {
		margin-left: 10%;
		margin-top: 5%;
	}
	img {
		margin-left: 10%;
		width: 100%;
		margin-top: 5%;
		border: 1px solid lightgrey;
	}
}
.img-gallery {
	display: flex;
	max-width: 350px;
	flex-wrap: wrap;
	flex-direction: row;
	max-height: 200px;
	margin-bottom: 10%;
	img {
		outline: thin;
		cursor: pointer;
		padding: 2%;
		max-width: 50px;
	}
}
.tags {
	margin-top: 1.5%;
	p {
		color: #686868;
		display: inline-block;
		padding-left: 0.7rem;
		padding-right: 0.7rem;
		background-color: transparent;
		transform: skew(20deg);
	}
	div {
		margin-right: 0.5rem;
		padding: 0.7%;
		background-color: #e6e6e6;
		display: inline-block;
		transform: skew(-20deg);
		margin-top: 2%;
	}
}
.linep {
	height: 1px;
	max-height: 2px;
	background-color: black;
	width: 100%;
}
.fa {
	background-color: white;
}
#strikePrice {
	display: inline-block;
	margin-left: 0.4rem;
	font-size: 0.8rem;
	text-decoration: line-through;
}
#addcart {
	background-color: lightgray;
	border-color: black;
	color: black;
	padding: 5px;
	border-width: 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 1%;
	&:active {
		background-color: darkgray;
	}
	&:hover {
		box-shadow: 1px 1px 5px grey;
	}
}
#desc {
	margin-top: 0.8rem;
}
.availp {
	margin-top: 0.8rem;
	font-size: 0.8rem;
}
.sizeButton {
	margin-top: 0.5rem;
	button {
		border: 1px solid lightgray;
		margin-right: 0.3rem;
		padding: 0.3rem;
		cursor: pointer;
		width: 2rem;
		border-radius: 0.4rem;
		&:hover {
			background-color: lightgray;
		}
	}
}
.prod-detail-div {
	flex-basis: 70%;
	padding-left: 2%;
	color: #514D6A;
	#standard-info {
		color: grey;
		padding-top: 2%;
		max-width: 500px;
	}
	#soldby {
		text-decoration: underline;
		padding-top: 1%;
		color: #0087F8;
		cursor: pointer;
	}
}
#product-name {
	margin-top: 0.7rem;
}
#product-price {
	display: inline-block;
	margin-top: 0.8rem;
}
.tab {
	display: inline-block;
	overflow: hidden;
	
	background-color: #f1f1f1;
	margin-top: 1%;
	button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 0.5rem;
		transition: 0.3s;
		&:hover {
			background-color: #ddd;
		}
	}
	button.active {
		border-bottom: 1px solid rgb(44, 127, 221) ;
		
	}
}
.tabcontent {
	display: none;
	margin-bottom: 2%;
}
.placer {
	min-height: 5vh;
}
.popup {
	.overlay {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.7);
		z-index: 5;
		display: none;
	}
	.content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) scale(0);
		background: #fff;
		max-width: 400px;
		width: 90%;
		max-height: 200px;
		z-index: 6;
		color: black;
		background-color: white;
		text-align: left;
	}
	.close-btn {
		cursor: pointer;
		position: relative;
		left: 75%;
		width: 5rem;
		border: 1px solid black;
		height: 30px;
		background: white;
		margin-bottom: 0.5rem;
		color: black;
		font-size: 1rem;
		margin-top: 0.5rem;
		font-weight: 600;
		line-height: 30px;
		text-align: center;
		border-radius: 2px;
	}
}
.popup.active {
	.overlay {
		display: block;
	}
	.content {
		transform: translate(-50%, -50%);
	}
}
.sideicon {
	background-color: transparent;
	float: right;
	margin-top: 0.8rem;
	margin-right: 0.8rem;
}

.foot {
	margin-top: 2%;
	background-color: rgb(202, 202, 202);
	margin-left: 3%;
	margin-right: 3%;
	border-radius: 5px;
	b {
		display: inline-block;
		
		margin: 3%;
		margin-top: 2%;
		margin-bottom: 0;
		background-color: rgb(202, 202, 202);
	}

	p {
		background-color: rgb(202, 202, 202);
		margin-top: 3%;
		margin-left: 3%;
		margin-top: 1.5%;
		margin-bottom: 1.5%;
		
	}
}
#myBtn {
	display: none;
	bottom: 20px;
	right: 30px;
	position: fixed;
	z-index: 5;
	border: none;
	padding: 0;
	outline: none;
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	cursor: pointer;
}
#sellername {
	background-color: white;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}
#sellerinfo {
	background-color: white;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
#sidebarBtn {
	display: block;
	position: fixed;
	top: 0.7rem;
	left: 20px;
	z-index: 3;
	border: none;
	outline: none;
	width: 1.5rem;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	background-color: transparent;
	height: 1.5rem;
	cursor: pointer;
}
#closeSidebar {
	display: none;
	position: fixed;
	top: 0.8rem;
	left: 90%;
	z-index: 10;
	border: none;
	color: white;
	outline: none;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	background-color: transparent;
	cursor: pointer;
}
.closeimg {
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
}
@media all and (max-width: 480px) {
	.outside {
		flex-direction: column;
		height: 120vh;
	}
	.details-master {
		height: 100vh;
	}
	#product-img {
		width: 80%;
	}
	.sidebar {
		min-height: 100vh;
		height: 0;
		z-index: 4;
		display: none;
	}
}
@media (max-width: 480px) {
	.products {
		flex-direction: column;
		
	}
	.product-img-div {
		margin-top: 10%;
	}
	.prod-detail-div {
		margin: 10%;
	}
	#sidebarBtn {
		display: block;
	}
}
